Package: lxqt-runner-dbgsym
Source: lxqt-runner
Version: 1.3.0-0.1~S7
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: LXQt Packaging Team <pkg-lxqt-devel@lists.alioth.debian.org>
Installed-Size: 1725
Depends: lxqt-runner (= 1.3.0-0.1~S7)
Section: debug
Priority: optional
Description: debug symbols for lxqt-runner
Build-Ids: ab551b3c239e7b4144879843d37fe7deacaf86ae
