Package: lxqt-powermanagement-dbgsym
Source: lxqt-powermanagement
Version: 1.3.0-0.1~S7
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: LXQt Packaging Team <pkg-lxqt-devel@lists.alioth.debian.org>
Installed-Size: 2854
Depends: lxqt-powermanagement (= 1.3.0-0.1~S7)
Section: debug
Priority: optional
Description: debug symbols for lxqt-powermanagement
Build-Ids: 3be7646fc9143d456767af417f50bdf66df5498c 77df1da2dd8d6c2a93d2bd3ad393f8cd0d116466
