[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Icon=view-web-browser-dom-tree

Name=Panel DOM Tree
Comment=Show a DOM tree of the LXQt panel
Name[ar]=شجرة DOM للّوحة
Comment[ar]=تُظهر شجرة DOM للوحة لكسكيوت
Name[bg]=Панел със структура на DOM
Comment[bg]=Показва DOM структура на LXQt панел
Name[ca]=Panell d'arbre DOM
Comment[ca]=Mostra un arbre DOM del tauler de LXQt
Name[cs]=Strom DOM panelu
Comment[cs]=Zobrazit DOM strom LXQt panelu
Name[da]=Panel DOM-træ
Comment[da]=Vis et DOM-træ af LXQt-panelet
Name[de]=Leisten DOM-Baum
Comment[de]=Zeigt einen DOM-Baum der LXQt-Leiste
Name[el]=Δέντρο DOM πίνακα
Comment[el]=Εμφάνιση ενός δέντρου DOM του πίνακα LXQt
Name[es]=Árbol DOM del panel
Comment[es]=Muestra el árbol DOM del panel de LXQt
Name[et]=Paneeli dokumendiobjektide mudeli puu
Comment[et]=Näita LXQt paneeli dokumendiobjektide mudeli puud
Name[fi]=Paneelin DOM-puu
Comment[fi]=Näytä LXQt-paneelin DOM-puu
Name[fr]=Arborescence DOM dans le tableau de bord
Comment[fr]=Affiche une arborescence DOM dans le tableau de bord
Name[he]=עץ ה־DOM של החלונית
Comment[he]=הצגת עץ ה־DOM של חלונית ה־LXQt
Name[hr]=Ploča DOM stabla
Comment[hr]=Prikazuje DOM stablo LXQt ploče
Name[hu]=Panel DOM fa
Comment[hu]=DOM fa megjelenítése az LXQt panelen
Name[it]=Albero DOM del pannello
Comment[it]=Mostra un albero DOM del pannello di LXQt
Name[ja]=パネル DOM ツリー
Comment[ja]=LXQt パネルの DOM ツリーを表示します
Name[ko]=패널 DOM 트리
Comment[ko]=LXQt 패널의 DOM 트리를 표시합니다
Name[lt]=Skydelio DOM medis
Comment[lt]=Rodyti LXQt skydelio DOM medį
Name[lv]=Paneļa DOM koks
Comment[lv]=Rādīt LXQt paneļa DOM koku
Name[nb_NO]=Panel-DOM-tre
Comment[nb_NO]=Vis et DOM-tre av LXQt-penelet
Name[nl]=DOM-boomweergave op paneel
Comment[nl]=Toont de DOM-boomweergave van een LXQt-paneel
Name[pl]=Drzewo DOM panelu
Comment[pl]=Wyświetla drzewo DOM panelu LXQt
Name[pt]=Árvore do painel DOM
Comment[pt]=Mostra a árvore DOM do painel do LXQt
Name[ru]=Дерево DOM панели
Comment[ru]=Показать дерево DOM панели LXQt
Name[sk]=Panel DOM stromu
Comment[sk]=Zobraziť DOM strom LXQt panelu
Name[tr]=Panel DOM ağacı
Comment[tr]=LXQt panelin DOM ağacını göster
Name[uk]=Панель дерева DOM
Comment[uk]=Показує дерево DOM панелі LXQt
Name[zh_CN]=面板 DOM 树
Comment[zh_CN]=显示 LXQt 面板的 DOM 树
