Package: pcmanfm-qt-dbgsym
Source: pcmanfm-qt
Version: 1.3.0-0.1~S7
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: LXQt Packaging Team <pkg-lxqt-devel@lists.alioth.debian.org>
Installed-Size: 4835
Depends: pcmanfm-qt (= 1.3.0-0.1~S7)
Section: debug
Priority: optional
Description: debug symbols for pcmanfm-qt
Build-Ids: 63e5fd15ab68b3dc06347a1b8a2e57daf2dcbd66
