[Desktop Entry]
Exec=qps
TryExec=qps
Type=Application
Icon=qps
Categories=System;
Terminal=false
StartupNotify=false

Name=qps
GenericName=Qt process manager
Comment=Qt application to display and manage running processes
Name[ar]=مدير عمليات Qt
GenericName[ar]=مدير عمليات Qt
Comment[ar]=تطبيق Qt لعرض وإدارة العمليات الجارية
Name[bg]=qps
GenericName[bg]=Qt мениджър на процеси
Comment[bg]=Qt приложение за показване и управление на работещите процеси
Name[ca]=qps
GenericName[ca]=Gestor de processos Qt
Comment[ca]=Aplicació Qt per visualitzar i gestionar els processos en execució
Name[cs]=qps
GenericName[cs]=Správce procesů, založený na Qt
Comment[cs]=Qt aplikace pro zobrazení a správu spuštěných procesů
Name[da]=qps
GenericName[da]=Qt-proceshåndtering
Comment[da]=Qt-program til at vise og håndtere kørende processer
Name[de]=qps
GenericName[de]=Prozessverwaltung
Comment[de]=Qt-Anwendung um die laufenden Prozesse zu verwalten und aufzulisten
Name[es]=qps
GenericName[es]=Gestor de procesos de Qt
Comment[es]=Aplicación Qt para visualizar y gestionar los procesos en\
Name[et]=qps
GenericName[et]=Qt tegumihaldur
Comment[et]=Qt rakendus protsesside kuvamiseks ja haldamiseks
Name[fr]=qps
GenericName[fr]=Gestionnaire de processus Qt
Comment[fr]=Application Qt pour afficher et gérer les processus en cours
Name[he]=qps
GenericName[he]=מנהל תהליכים לסביבת Qt
Comment[he]=יישום Qt להצגה וניהול של תהליכים פעילים
Name[hr]=qps
GenericName[hr]=Upravljač Qt-procesa
Comment[hr]=Qt-program za prikaz i upravljanje pokrenutih procesa
Name[hu]=qps
GenericName[hu]=Qt folyamatkezelő
Comment[hu]=Qt alkalmazás a futó folyamatok megjelenítéséhez és kezeléséhez
Name[it]=qps
GenericName[it]=Gestore processi
Comment[it]=Applicazione in Qt per mostrare e gestire i processi
Name[ja]=qps
GenericName[ja]=プロセスマネージャー Qt
Comment[ja]=実行中のプロセスを表示および管理する Qt アプリケーションです
Name[ko]=qps
GenericName[ko]=Qt 프로세스 관리자
Comment[ko]=실행 중인 프로세스를 화면표시하고 관리하는 Qt 응용프로그램
Name[lt]=qps
GenericName[lt]=Qt procesų tvarkytuvė
Comment[lt]=Qt programa, skirta rodyti ir tvarkyti vykdomus procesus
Name[nb_NO]=qps
GenericName[nb_NO]=Qt-prosessbehandler
Comment[nb_NO]=Qt-program for visning og håndtering av kjørende prosesser
Name[nl]=qps
GenericName[nl]=Qt-procesbeheerder
Comment[nl]=Een Qt-programma om actieve processen mee te tonen en beheren
Name[oc]=qps
GenericName[oc]=Gestionari de processús Qt
Comment[oc]=Aplicacion Qt per visualizar e gerir los processús en execucion
Name[pl]=qps
GenericName[pl]=Menedżer procesów Qt
Comment[pl]=Aplikacja Qt do wyświetlania i zarządzania uruchomionymi procesami
Name[pt]=qps
GenericName[pt]=Gestor de processos em Qt
Comment[pt]=Aplicação em Qt para mostrar e gerir os processos em execução
Name[ru]=qps
GenericName[ru]=Менеджер процессов Qt
Comment[ru]=Приложение Qt, позволяющее просматривать процессы и управлять ими
Name[sk]=qps
GenericName[sk]=Qt správca procesov
Comment[sk]=Qt aplikácia na monitorovanie a správu spustených procesov
Name[tr]=qps
GenericName[tr]=Qt İşlem Yöneticisit
Comment[tr]=Çalışan işlemleri görüntülemek ve yönetmek için Qt uygulaması
Name[uk]=qps
GenericName[uk]=Qt менеджер процесів
Comment[uk]=Qt застосунок для виводу та керування виконуваними процесами
Name[vi]=qps
GenericName[vi]=Trình quản lí tiến trình Qt
Comment[vi]=Ứng dụng Qt để hiển thị và quản lí tiến trình đang chạy
