[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Icon=brightnesssettings

Name=Backlight
Comment=Sets display backlight
Name[ar]=الإضاءة الخلفية
Comment[ar]=يضبط الإضاءة الخلفية للشاشة
Name[bg]=Осветеност на екрана
Comment[bg]=Настройки осветеност на екрана LXQt
Name[ca]=Retroil·luminació
Comment[ca]=Estableix la retroil·luminació
Name[cs]=Podsvícení
Comment[cs]=Nastavuje podsvícení obrazovky
Name[es]=Brillo de la pantalla
Comment[es]=Cambia el brillo de la pantalla
Name[et]=Taustavalgus
Comment[et]=Seadista ekraani taustavalgust
Name[fi]=Taustavalo
Comment[fi]=Asettaa näytön taustavalaistuksen
Name[fr]=Rétroéclairage
Comment[fr]=Définit le rétroéclairage de l'écran
Name[he]=תאורה אחורית
Comment[he]=הגדרת התאורה האחורית של התצוגה
Name[hr]=Svjetlina ekrana
Comment[hr]=Postavlja svjetlinu ekrana
Name[hu]=Háttérvilágítás
Comment[hu]=A képernyő háttérvilágítását állítja be
Name[it]=Retroilluminazione
Comment[it]=Regola luminosità dello schermo
Name[ja]=バックライト
Comment[ja]=ディスプレイのバックライトを設定します
Name[ko]=백라이트
Comment[ko]=디스플레이 백라이트 설정
Name[lt]=Foninis apšvietimas
Comment[lt]=Nustato ekrano foninį apšvietimą
Name[lv]=Fona izgaismojums
Comment[lv]=Ekrāna izgaismojuma spilgtuma iestatīšana
Name[nb_NO]=Baklys
Comment[nb_NO]=Setter skjermens baklysnivå
Name[nl]=Achtergrondverlichting
Comment[nl]=Stel de achtergrondverlichting in
Name[oc]=Retroesclairatge
Comment[oc]=Definís lo retroesclairatge de l’ecran
Name[pt]=Retro-iluminação
Comment[pt]=Define a retro-iluminação do visor
Name[ru]=Подсветка
Comment[ru]=Регулировка яркости подсветки экрана
Name[sk]=Podsvietenie
Comment[sk]=Nastaviť podsvietenie obrazovky
Name[sr]=Позадинско светло
Comment[sr]=Подешава позадинско светло
Name[tr]=Arka ışık
Comment[tr]=Görüntünün arka ışığını ayarlar
Name[uk]=Яскравість екрана
Comment[uk]=Налаштування яскравості екрана
