Package: libqtermwidget5-1
Source: qtermwidget
Version: 1.3.0-0.1~S7
Architecture: amd64
Maintainer: LXQt Packaging Team <pkg-lxqt-devel@lists.alioth.debian.org>
Installed-Size: 523
Depends: qtermwidget5-data (= 1.3.0-0.1~S7), libc6 (>= 2.33), libqt5core5a (>= 5.15.1), libqt5gui5 (>= 5.11.0~rc1) | libqt5gui5-gles (>= 5.11.0~rc1), libqt5widgets5 (>= 5.0.2), libstdc++6 (>= 5.2), libutf8proc2 (>= 1.3)
Recommends: fonts-hack
Breaks: libqtermwidget5-0 (<< 0.99.0)
Replaces: libqtermwidget5-0 (<< 0.99.0)
Section: libs
Priority: optional
Multi-Arch: same
Homepage: https://github.com/lxqt/qtermwidget
Description: Terminal emulator widget for Qt 5 (shared libraries)
 QTermWidget is a Unicode-enabled, embeddable Qt widget that can be used as
 built-in console or terminal emulation widget.
 .
 This package provides the shared libraries.
