Package: pavucontrol-qt-dbgsym
Source: pavucontrol-qt
Version: 1.3.0-0.1~S7
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: LXQt Packaging Team <pkg-lxqt-devel@lists.alioth.debian.org>
Installed-Size: 1935
Depends: pavucontrol-qt (= 1.3.0-0.1~S7)
Section: debug
Priority: optional
Description: debug symbols for pavucontrol-qt
Build-Ids: 2e4bec3eda4878730966bbbbe6503e1946e6a589
