[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Icon=color-picker

Name=Color picker
Comment=Get the color under the cursor and maintains a list of recently selected colors
Name[ar]=لاقط الألوان
Comment[ar]=احصل على اللون أسفل المؤشر واحتفظ بقائمة من الألوان المحددة مؤخرًا
Name[bg]=Избиране на цветове
Comment[bg]=Избира цвета под курсора и показва последните избрани цветове
Name[ca]=Selector de color
Comment[ca]=Obteniu el color a sota del cursor; amb un historial dels colors recents
Name[cs]=Výběr barvy
Comment[cs]=Získá barvu pod ukazatelem a udržuje seznam nedávno vybraných barev
Name[da]=Farvevælger
Comment[da]=Få farven under markøren. For webudvikling som vedligeholder en liste over nyligt valgte farver
Name[de]=Farbwähler
Comment[de]=Ermittelt die Farbe unter dem Zeiger und verwaltet eine Liste der zuletzt ausgewählten Farben
Name[el]=Επιλογέας χρωμάτων
Comment[el]=Λήψη του χρώματος κάτω από τον δρομέα και διατήρηση ενός κατάστιχου των πρόσφατα επιλεγμένων χρωμάτων
Name[es]=Selector de color
Comment[es]=Selecciona el color bajo el cursor y mantiene un historial de los colores
Name[es_VE]=Recoge colores
Comment[es_VE]=Toma un color de la pantalla con el cursor, para desarrolladores web
Name[et]=Värvivalija
Comment[et]=Näita kursorialust värvitooni ja salvesta viimatikasutatud värvitoonid
Name[eu]=Kolore-hautatzailea
Comment[eu]=Eskuratu kurtsorearen azpiko kolorea. Web-garatzaileentzat
Name[fi]=Värivalitsin
Comment[fi]=Näyttää hiiren osoittimen alla olevan värin ja ylläpitää luetteloa viimeksi valituista väreistä
Name[fr]=Sélecteur de couleur
Comment[fr]=Obtient la couleur sous le curseur et maintient une liste des couleurs récemment sélectionnées
Name[he]=בוחר צבעים
Comment[he]=קבלת הצבע שתחת סמן העכבר ושמירת רשימה של הצבעים שנבחרו לאחרונה
Name[hr]=Kapaljka
Comment[hr]=Dobij boju ispod pokazivača i održava popis nedavno odabranih boja
Name[hu]=Színválasztó
Comment[hu]=Szín kiválasztása a képernyőről. Fejlesztőknek
Name[it]=Selettore di colore
Comment[it]=Rileva il colore sotto il cursore e mantiene una lista degli ultimi colori selezionati
Name[ja]=カラーピッカー
Comment[ja]=マウスカーソルの下の色を取得し、最近選択した色のリストを保持します
Name[ko]=색상 선택기
Comment[ko]=커서 아래에 있는 색상을 가져오고 최근에 선택한 색상 목록을 유지합니다
Name[lt]=Spalvos parinkiklis
Comment[lt]=Gauna po žymekliu esančią spalvą ir sudaro paskiausiai pasirinktų spalvų sąrašą
Name[lv]=Krāsas noteicējs (krāsu gamma)
Comment[lv]=Nosakiet krāsu zem kursora. Tīmekļa developeriem
Name[nb_NO]=Fargevelger
Comment[nb_NO]=Hent fargen under pekeren. For vev-utviklere.
Name[nl]=Kleurkiezer
Comment[nl]=Selecteer de kleur onder de cursor en houd een lijst bij met onlangs gekozen kleuren
Name[oc]=Selector de color
Comment[oc]=Obténer la color jos cursor amb un istoric de las colors recentas
Name[pl]=Wybieracz kolorów
Comment[pl]=Sprawdza kolor wskazany kursorem i przechowuje listę ostatnio wybranych kolorów
Name[pt]=Seletor de cores
Comment[pt]=Obtém a cor sob o cursor e mantém uma lista de cores selecionadas recentemente
Name[pt_BR]=Seletor de cores
Comment[pt_BR]=Obter a cor sob o cursor. Para desenvolvedores web
Name[ro]=Color picker
Comment[ro]=Obține culoarea de sub cursor. Pentru dezvoltatori web
Name[ru]=Цветовая палитра
Comment[ru]=Получить цвет под курсором мыши и управлять списком недавно выбранных цветов
Name[sk]=Výber farby
Comment[sk]=Získať farbu pod kurzorom a udržiavať zoznam naposledy vybratých farieb
Name[sr]=Бирач боја
Comment[sr]=Добијте боју испод курсора и одржава листу недавно изабраних боја
Name[th]=ตัวเลือกค่าสี
Comment[th]=นำค่าสีที่อยู่ใต้เคอร์เซอร์ขึ้นมา สำหรับนักพัฒนาเว็บ
Name[tr]=Renk seçici
Comment[tr]=İmlecin altındaki rengi alır ve en son seçilen renklerin bir listesini tutar
Name[uk]=Селектор кольору
Comment[uk]=Бере колір під курсором і підтримує список нещодавно вибраних кольорів
Name[zh_CN]=颜色拾取器
Comment[zh_CN]=为web开发者获取鼠标下的颜色
Name[zh_TW]=取得顏色
Comment[zh_TW]=取得游標下的顏色並紀錄進最近選取的顏色清單裡。
