[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Icon=preferences-plugin

Name=Custom Command
Comment=Displays the output of a cli command
Name[ar]=أمر مخصص
Comment[ar]=عرض نتائج أمر cli
Name[bg]=Потребителски команди
Comment[bg]=Показва резултата от команда на терминала
Name[ca]=Ordre personalitzada
Comment[ca]=Mostra el resultat d'una ordre de terminal
Name[cs]=Uživatelsky určený příkaz
Comment[cs]=Zobrazí výstup z příkazového řádku
Name[da]=Brugerdefineret kommando
Comment[da]=Viser output af en cli kommando
Name[de]=Persönliche Befehlszeile
Comment[de]=Zeigt Ausgabe der Befehlszeile
Name[el]=Προσαρμοσμένη εντολή
Comment[el]=Προβολή της εξόδου μιας εντολής cli
Name[es]=Comando personalizado
Comment[es]=Muestra la salida de un comando para la línea de órdenes
Name[et]=Kohandatud käsud
Comment[et]=Kohandatud käsud kuvavad käsurea väljundit
Name[fi]=Mukautettu komento
Comment[fi]=Näyttää komentokehotteessa suoritettavan ohjelman tulosteen
Name[fr]=Commande personalisée
Comment[fr]=Affiche la sortie d'une commande cli
Name[he]=פקודה משלך
Comment[he]=מציג פלט משורת הפקודה
Name[hr]=Prilagođena naredba
Comment[hr]=Prikazuje rezultat cli naredbe
Name[hu]=Egyéni parancs
Comment[hu]=Egy cli parancs kimenetetét jeleníti meg
Name[it]=Comando personalizzato
Comment[it]=Mostra il risultato di un comando da terminale
Name[ja]=カスタムコマンド
Comment[ja]=CLI(コマンドラインインタフェース) の出力を表示します
Name[ko]=사용자 지정 명령
Comment[ko]=cli 명령의 출력을 표시합니다
Name[lt]=Tinkinta komanda
Comment[lt]=Rodo komandų eilutės komandos išvestį
Name[lv]=Pielāgojama komanda
Comment[lv]=Attēlo CLI (termināla/komandrindas) komandas izvadu
Name[nb_NO]=Egendefinert kommando
Comment[nb_NO]=Viser utdata for en kommandolinje-kommando
Name[nl]=Eigen opdracht
Comment[nl]=Toont de uitvoer van een terminalopdracht
Name[pl]=Własna komenda
Comment[pl]=Wyświetla wynik komendy CLI
Name[pt]=Comando personalizado
Comment[pt]=Mostra o resultado do comando
Name[pt_BR]=Comando customizado
Comment[pt_BR]=Exibe a saída de um comando cli
Name[ru]=Настраиваемая команда
Comment[ru]=Отображает вывод команды терминала
Name[sk]=Vlastný príkaz
Comment[sk]=Zobrazí výstup cli príkazu
Name[sv]=Anpassat kommando
Comment[sv]=Visar utdatat från ett terminalkommando
Name[tr]=Özel Komut
Comment[tr]=Bir istemci komutunun çıktısını görüntüler
Name[uk]=Власна команда
Comment[uk]=Показує вивід cli-команди
Name[zh_CN]=自定义命令
Comment[zh_CN]=显示终端命令的输出
Name[zh_TW]=自訂指令
Comment[zh_TW]=顯示指令的輸出
