[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Icon=go-bottom

Name=System Tray
Comment=Maps obsolete xembed icons to Status Notifier
Name[ar]=صينيّة النّظام
Comment[ar]=خرائط رموز xembed المتقادمة إلى Status Notifier
Name[bg]=Системна област
Comment[bg]=Напасва старите икони към Status Notifier
Name[ca]=Safata del sistema
Comment[ca]=Assigna les icones obsoletes de «xembed» al notificador d'estat
Name[cs]=Oznamovací oblast panelu
Comment[cs]=Mapuje zastaralé xembed ikony na Stavové zprávy
Name[da]=Systembakke
Comment[da]=Maps forældede xembed-ikoner til Status Notifier
Name[de]=Benachrichtigungsfläche
Comment[de]=Überholt; benutze Status-Anzeige-Zusatz!
Name[el]=Πλαίσιο συστήματος
Comment[el]=Συσχέτιση των παρωχημένων εικόνων xembed για τον ειδοποιητή\
Name[eo]=Sistempleto
Name[es]=Bandeja del sistema
Comment[es]=Muestra los iconos XEmbed obsoletos en el notificador de estado
Name[es_VE]=Barra de sistema
Name[et]=Süsteemisalv
Comment[et]=Kuvab aegunud xembed ikoonid olekuteatistes
Name[eu]=Ataza-barra
Name[fi]=Ilmoitusalue
Comment[fi]=Sitoo vanhennetut xembed-kuvakkeet Status Notifier -lisäosaan
Name[fr]=Zone de notification
Comment[fr]=Mappe les icônes xembed obsolètes pour Status Notifier
Name[he]=מגש המערכת
Comment[he]=המפות מיתרות את xembed שיופיעו על Status Notifier
Name[hr]=Programska traka
Comment[hr]=Zastarjelo; koristi dodatak „Obavijesti o stanju“!
Name[hu]=Rendszertálca
Comment[hu]=Elavult; kérjük használja az állapotértesítő bővítményt!
Name[it]=Vassoio di sistema
Comment[it]=Mostra le icone xembed obsolete nell'area di notifica
Name[ja]=システムトレイ
Comment[ja]=古い xembed アイコンを [ステータス通知] プラグインにマッピングします
Name[ko]=시스템 트레이
Comment[ko]=사용되지 않는 xembed 아이콘을 상태 알림 플러그인에 매핑
Name[lt]=Sistemos dėklas
Comment[lt]=Susieja pasenusias xembed piktogramas su būsenos pranešimų\
Name[lv]=Sistēmas tekne (tray)
Comment[lv]=Norakstīts, lūgums lietot statusa paziņotāja/paziņojumu spraudni!
Name[nb_NO]=Systemkurv
Comment[nb_NO]=Knytter foreldede xembed-ikoner til Statusmerknadsprogramtillegget
Name[nl]=Systeemvak
Comment[nl]=Koppelt verouderde xembed-pictogrammen aan de systeemvak-invoegtoepassing
Name[oc]=Zòna de notificacion
Comment[oc]=Junta las icònas xembed obsolètas amb Status Notifier
Name[pl]=Zasobnik systemowy
Comment[pl]=Przestarzały; użyj wtyczki Status Notifier!
Name[pt]=Bandeja do sistema
Comment[pt]=Mapeia ícones xembed obsoletos para o Notificador de Estado
Name[pt_BR]=Área de notificação
Comment[pt_BR]=Obsoleto; por favor use o Plugin de Notificação de Status!
Name[ro]=Zonă de notificare
Name[ru]=Системный лоток
Comment[ru]=Привязывать устаревшие иконки XEmbed к Status Notifier
Name[sk]=Oznamovacia oblasť
Comment[sk]=Mapuje staršie ikony z niektorých aplikácii do oznamovacej\
Name[sl]=Sistemska vrstica
Name[sr]=Системска касета
Comment[sr]=Мапира застареле xembed иконе у Стаус Нотифајер
Name[sr@ijekavian]=Системска касета
Comment[sr@ijekavian]=Мапира застарјеле xembed иконе у Статус нотифајер
Name[sr@ijekavianlatin]=Sistemska kaseta
Name[sr@latin]=Sistemska kaseta
Name[th]=ถาดระบบ
Name[tr]=Sistem çekmecesi
Comment[tr]=Eski xembed simgelerini Durum Bildiricisine eşler
Name[uk]=Системний лоток
Comment[uk]=Показує застарілі xembed піктограми до сповіщень стану
Name[zh_CN]=系统托盘
Comment[zh_CN]=将过时的xembed图标映射到状态通知程序上
Name[zh_TW]=系統列
Comment[zh_TW]=將已棄用的 xembed 圖示對應到狀態提示欄
